<head>
	<title>TSM GO</title>
	<link rel="stylesheet" href="/static/main.css">
	<meta charset="UTF-8">
	<meta name="description" content="Tyler McKee's creative work and semi-related writing">
	<meta name="keywords" content="Catholic, Woodworking, Art, Painting, Technology, Philosophy, Lifestyle, Blog">
	<meta name="author" content="Tyler McKee">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="T S McKee" href="/index.xml"/>

</head>
