<div id="header">
	<div id="banner"><a href="/home.md" onmouseout="highlightNode('')" onmouseover="highlightNode('home.md')" onclick="return targetNode('home.md')">T S M</div>
	<nav>
		<a class="section-button" href="/blog" onmouseout="highlightNode('')" onmouseover="highlightNode('blog')" onclick="return targetNode('blog')">Blog</a>
		<a class="section-button" href="/sketch" onmouseout="highlightNode('')" onmouseover="highlightNode('sketch')" onclick="return targetNode('sketch')">Art</a>
		<a class="section-button" href="/gallery" onmouseout="highlightNode('')" onmouseover="highlightNode('gallery')" onclick="return targetNode('gallery')">Wood</a>
		<a class="section-button" href="/chad-rss.md" onmouseout="highlightNode('')" onmouseover="highlightNode('chad-rss.md')" onclick="return targetNode('chad-rss.md')">Links</a>
	</nav>

</div>
