{{define "base"}}
<!DOCTYPE html>
 <html lang="en">
    {{- template "head.html" . -}}
	{{- template "header.html" . -}}

	<script type="module" src="/static/gen/main.js"></script>
	<script type="module" >
		import {targetNode} from "/static/gen/main.js";
		import {highlightNode} from "/static/gen/main.js";
		window.targetNode = targetNode;
		window.highlightNode = highlightNode;
	</script>
	<div id="main layout">	
	<div id="content">
	</div>
	{{- template "web.html" -}}

	</div>
        {{- template "footer.html" . -}}
</html>
{{end}}
