{{define "base"}}
<!DOCTYPE html>
 <html lang="en">
    {{- template "head.html" . -}}
	<script type="module" src="/static/gen/main.js"></script>
	<script type="module" >
		import {targetNode} from "/static/gen/main.js";
		import {highlightNode} from "/static/gen/main.js";
		window.targetNode = targetNode;
		window.highlightNode = highlightNode;
	</script>
	{{- template "header.html" . -}}

	<div class="content">
        {{- block "main" . }}{{- end }}

	</div>
        {{- template "footer.html" . -}}
</html>
{{end}}
