<div style="text-align: center;width:100%">
<h1 style="font-family: serif;">TS McKee</h1>

</div>
<div style="display: flex;align-items:baseline; text-align: center;">
    <div style="flex-grow: 1;">
    <h2 class="home-header">Tags:</h2>
    <div style="display: inline-block;width: min-content;">
    {{with .ParentGarden.Tags}}
    {{range $key, $value := .}}
        <div class="home-cat-button" style="display:inline-block" onclick="targetNode({{$key}})" onmouseover="highlightNode({{$key}})" onmouseout="highlightNode('')">{{$key}}</div>
    {{end}}
    {{end}}
    </div>
    </div>

    <div style="flex-grow: 1;">
    <h2 class="home-header">Categories:</h2>
    <div style="display:inline-block; width:min-content;">
    {{with .ParentGarden.Categories}}
    {{range $key, $value := .}}
        <div class="home-cat-button" onclick="targetNode({{$key}})" onmouseover="highlightNode({{$key}})" onmouseout="highlightNode('')">{{$key}}</div>
    {{end}}
    {{end}}
    </div>
    </div>
</div>