<div id="response">
<h1>{{if eq .Data_type 3}}Category: {{end}}{{.Name}}</h1>
{{with .OutgoingNodes}}
<h2>Outgoing Nodes: </h2>
<ul >
{{range $key, $value := .}}
    <li
    {{ if eq $key.Data_type 4}}
    style="list-style-type: square; color:brown;"
    {{end}}
    ><a class="internal-link"
    {{ if eq $key.Data_type 4}}
    style="color:brown;"
    {{end}}
    style="display:inline-block;width:100%"
     onclick="return targetNode({{$key.ID}})" onmouseover="highlightNode({{$key.ID}})" onmouseout="highlightNode('')">{{$key.Name}}</a></li>
{{end}}
</ul>
{{end}}
{{with .IncomingNodes}}
<h2>Incoming Nodes: </h2>
<ul >
{{range $key, $value := .}}
    <li
    {{ if eq $key.Data_type 4}}
    style="list-style-type: square; color:brown;"
    {{end}}
    ><a class="internal-link"
    {{ if eq $key.Data_type 4}}
    style="color:brown;"
    {{end}}
    style="display:inline-block; width:100%"
    onclick="return targetNode({{$key.ID}})" onmouseover="highlightNode({{$key.ID}})" onmouseout="highlightNode('')">{{$key.Name}}</a></li>
{{end}}
</ul>
{{end}}
</div>