html, body {
   margin: 0px;
   height: 100%;
    background-color: #0d1e1f;
}
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    margin:0px;
    background-color:#2d3e3f;
}
#nav-container{
    flex-basis: 20%;
    background-color: antiquewhite;
    overflow-y: scroll;
    scrollbar-color: #587f8c #3d4e5f;
    scrollbar-width: .75em;
    scrollbar-gutter: stable;
    margin:.75em;
    margin-right: 0em;
    padding-inline: 1em;
}

.expandable{
    cursor: pointer;
}

.nested{
    max-height: 0px;
    overflow: hidden;
    transition: max-height .1s;
}
.nested.nested-show{
    max-height: 800px;
    transition: max-height .8s;
}

#data-container{
    flex-grow: 1;
    box-sizing: border-box;
    height: 100%;
    flex-basis: 55%;
    overflow-y:hidden;
    margin: 0px;
    padding-left: 0em;
    padding-block: .75em;
    background-color: #2d3e3f;
}
#data-padding{
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    scrollbar-color: #587f8c #3d4e5f;
    scrollbar-width: .75em;
    scrollbar-gutter: stable;
}

#data {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    background-color: antiquewhite;
    padding-inline:1em;
    padding-block: .5em;
}
#view-container{
    background-color: #2d3e3f;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis:25%;
}
#view{
    flex-basis: 35%;
    max-height: 40%;
    width:100%;
    margin: 0px;
}

#view-bottom{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: .75em;
    margin-inline: 0px;
    overflow-y: scroll;
    scrollbar-width: .75em;
    scrollbar-gutter: stable;
    scrollbar-color: #587f8c #3d4e5f;
    scrollbar-width: .75em;
    scrollbar-gutter: stable;
}

#link-data{
    padding-inline: 1em;
    flex-grow: 1;
    background-color: antiquewhite;
}

#button-container {
    padding-top: 1em;
    padding-bottom: 0px;
    background-color: antiquewhite;
}

#donate-button{
    display: block;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: #4593ba;
    padding-inline: 1em;
    padding-block: .65em;
    width:fit-content;
    height: fit-content; 
    border: solid 3px #4083a4;
    margin-inline: auto;
    margin-block: .4em;
    transition: box-shadow .2s;
}

#donate-button:hover{
    box-shadow: 0px 2px 4px 0px #675a3e;
    transition: box-shadow .1s;
}

.scene-container{
    margin: 0px;
    padding: 0px;
    width: 100% !important;
    height: 100% !important;
}


#view > div {
    margin: 0px;
    padding: 0px;
    width: 100% !important;
    height: 100% !important;
}

#view > div > div{
    width: 100% !important;
}

canvas {
    width: 100% !important;
}

.nodeTitle{
color:aquamarine;
}
a{
    color:brown;
}
.internal-link{
    margin:auto;
    color:#1a8789;
    text-decoration: underline;
    transition: color .4s;
}
.internal-link:visited{
    color: #6e8282;
}
.internal-link:hover{
    cursor: pointer;
    color: #28aea7;;
    transition: color .2s;
}

/*HOME*/

#home-cats{
    display:flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-direction: row;
    text-align: center;
    padding-inline: 2em;
}


.home-cat{
    flex-grow: 1;
    flex-basis: 25%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    margin-inline: .5em;
}

.home-cat-header{
   cursor: pointer; 
   aspect-ratio: auto;
}
.home-cat img{
    width: 100%;
    border: solid 3px #28aea7;
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.home-cat *:hover{
    opacity: .8;
    transition: opacity .2s;
}
.home-cat-button{
    display:flex;
    align-items: center;
    cursor: pointer;
    object-fit: cover;
    text-align: center;
    width: 100%;
    height: max-content;
    aspect-ratio: 1/1;
    border: solid 3px grey;
    background-color: white;
    color:  grey;
    font-family: 'Palatino Linotype', Palatino, Times, serif;
    font-size: 20pt;
    opacity: 1;
    transition: opacity .5s;
}

#home-tags{
    display: block;
    text-align: center;
    width:80%;
    margin:auto;
}

.home-tag-button{
    width: fit-content; 
    display: inline-block; 
    border: 4px solid #687477;
    font-size:large; 
    padding-inline: 1em; 
    padding-block: .5em;
    margin:.2em;
    background-color: white;
    transition: border .5s;
}
.home-tag-button:hover{
    cursor: pointer;
    border: 4px solid #729eaa;
    transition: border .3s;
}
.home-header {
    font-family: 'Palatino Linotype', Palatino, Times, serif;
}
