html, body {
   margin: 0px;
   height: 100%;
    background-color: #0d1e1f;
}
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    margin:0px;
}
#nav-container{
    flex-basis: 20%;
}
#data-container{
    flex-grow: 1;
    box-sizing: border-box;
    height: 100%;
    flex-basis: 55%;
    margin: 0px;
    overflow-y: auto;
    padding-inline: .75em;
    padding-block: .75em;
    background-color: #2d3e3f;
    scrollbar-color: #587f8c #3d4e5f;
}
#data {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    background-color: antiquewhite;
    padding-inline:1em;
    padding-block: .5em;
}
#view-container{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis:25%;
}
#view{
    flex-basis: 35%;
    max-height: 40%;
    width:100%;
    margin: 0px;
}
.scene-container{
    margin: 0px;
    padding: 0px;
    width: 100% !important;
    height: 100% !important;
}
#view > div {
    margin: 0px;
    padding: 0px;
    width: 100% !important;
    height: 100% !important;
}

#view > div > div{
    width: 100% !important;
}

canvas {
    width: 100% !important;
}

.nodeTitle{
color:aquamarine;
}
a{
    color:brown;
}
.internal-link{
    margin:auto;
    color:#1a8789;
    text-decoration: underline;
    transition: color .4s;
}
.internal-link:visited{
    color: #6e8282;
}
.internal-link:hover{
    cursor: pointer;
    color: #28aea7;;
    transition: color .2s;
}

.home-cat-button{
    width: 100%; 
    display: inline-block; 
    border: 4px solid #687477;
    font-size:large; 
    padding: .2em; 
    margin:.2em;
    background-color: white;
    transition: border .5s;
}
.home-cat-button:hover{
    cursor: pointer;
    border: 4px solid #729eaa;
    transition: border .3s;
}
.home-header {
    font-family: 'Palatino Linotype', Palatino, Times, serif;
}